* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', serif;
    color: #1C3041;
}

main {
    max-width: 600px;
    margin: 0 auto;
}

header {
    background-color: #1C3041;
    color: ghostwhite;
    text-align: center;
    width: 100%;
}

h1 {
    margin: 0;
    padding: 2rem;
    font-size: 1.5rem;
    text-transform: uppercase;
}

#headline h2 {
    font-size: 1.3rem;
    font-weight: 900;
}

#headline {
    text-align: center;
    margin: 0 1rem;
    padding: 1.5rem 0;
    border-bottom: 5px solid #1C3041;
}

form {
    border-top: 2px solid #1C3041;
    margin: 5px 1rem 0;
}

fieldset {
    border: none;
    padding: 0;
    margin: 2rem 0;
}

#contact-fieldset {
    border-bottom: 2px solid #1C3041;
    padding-bottom: 2.5rem;
    margin-bottom: 2.5rem;
}

#contact-fieldset input, 
select,
textarea {
    padding: 5px 15px;
    color: grey;
    width: 100%;
    margin: 0.5rem 0;
    font-size: .9rem;
    background-color: whitesmoke;
    border-radius: 5px;
    border: none;
}

#contact-fieldset input,
select {
    height: 2.75rem;
}

legend {
    font-weight: 900;
    margin: 1rem 0;
    font-size: 1.3rem;
}

#contact-fieldset label {
    display: block;
    clear: both;
    margin: 1rem 0 .3rem;
}

#contact-fieldset #zipcode {
    width: 50%;
}

#newsletter-fieldset input {
    margin: 0.75rem 0.5rem .75rem 0.25rem;
}

p, label, select {
    color: slategrey;
    font-size: .9rem;
}

select {
    padding: 5px 15px;
}

::placeholder {   
    text-align: right;
    font-style: italic;
    font-size: .75rem;
    color: grey;
}

textarea::placeholder {
    font-style: italic;
    color: grey;
    text-align: left;
}

#zipcode::placeholder {
    text-align: center;
}

textarea {
    height: 15vh;
    margin-top: 1rem;
    padding: 15px;
}

#submit-button {
    background-color: #0B6E4F;
    color: ghostwhite;
    padding: 1.5rem;
    border-radius: 6px;
    border: none;
    width: 100%;
    /* margin: 2.5rem 0; */
    font-weight: 700;
    font-size: 1.25rem;
}

footer {
    font-style: italic;
    text-align: center;
    padding: 2rem 0 5rem;
}

input,
select,
textarea,
button {
    transition: all 1s;
}

#contact-fieldset input:focus,
#newsletter-fieldset input:focus,
select:focus,
textarea:focus {
    outline-color: #1C3041;
    background-color: #817F75;
    color: ghostwhite;
}

button:hover {
    transform: scale(0.9);
}

@media screen and (min-width: 768px) {

    .flex {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    #contact-fieldset input,
    select {
        width: 70%;
    }

    textarea {
        margin-top: 1rem;
    }

    #contact-fieldset label {
        margin: 1rem 0;
        padding: 5px 0;
    }

    #contact-fieldset #zipcode {
        width: 23%;
        margin-right: auto;
        margin-left: 6.8rem;
    }
}